/* Stili desktop - nessun cambiamento */

.welcomeUser {
    margin-bottom: 80px;
    padding: 60px;
    background-color: #C7C1DC;
}

.welcomeUser h1 {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.welcomeUser p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
}

.dashboardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.dashboardSection h2 {
    font-size: 20px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

.dashboardSection p {
    font-size: 16px;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columnSection {
    display: flex;
    flex-direction: row;
}

.orderHistory h2 {
    font-size: 20px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;

    margin-right: 20px;
}

.orderHistory p {
    font-size: 16px;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 30px;
}

.orderHistory {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 100%;
}

.button {
    width: 15%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom:20px;
    font-size: 16px;
    color: #fff;
    background-color: #d5abc2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #c7c1dc;
}

.textarea {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    background-color: #d5abc2;
    resize: none;
    transition: all 0.3s ease;
    margin-top: 10px;
    border: none;
    color: white;
}

.dashboardSectionComment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 20px 80px;
}

.dashboardSectionComment p {
    font-size: 16px;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboardSectionComment h2 {
    font-size: 20px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;

    margin-right: 20px;
}

.h3 {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.buttonSend {
    padding: 10px;
    margin-top: 30px;
    margin-bottom:80px;
    font-size: 16px;
    color: #fff;
    background-color: #d5abc2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    align-items: flex-start;
}


/* Media query per tablet (max-width 1024px) */
@media (max-width: 1024px) {
    .welcomeUser {
        padding: 50px;
        display: flex;
        flex-direction: column; /* Gli elementi sono allineati verticalmente */
        align-items: center;
    }

    .welcomeUser h1 {
        font-size: 30px;
    }

    .welcomeUser p {
        font-size: 14px;
    }

    .dashboardSection {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: column; /* Allinea gli elementi verticalmente */
    }

    .dashboardSection h2 {
        font-size: 20px;
    }

    .dashboardSection p {
        font-size: 14px;
    }

    .dashboardContainer {
        flex-direction: column;
        align-items: stretch;
    }
}

/* Media query per tablet (max-width 768px) */
@media (max-width: 768px) {
    .welcomeUser {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcomeUser h1 {
        font-size: 28px;
    }

    .welcomeUser p {
        font-size: 14px;
    }

    .dashboardSection {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }

    .dashboardSection h2 {
        font-size: 18px;
    }

    .dashboardSection p {
        font-size: 14px;
    }

    .dashboardContainer {
        flex-direction: column;
        align-items: stretch;
    }
}


@media (max-width: 480px) {
    .welcomeUser {
        padding: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcomeUser h1 {
        font-size: 24px;
    }

    .welcomeUser p {
        font-size: 12px;
    }

    .dashboardSection {
        width: 100%;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
    }

    .dashboardSection h2 {
        font-size: 16px;
    }

    .dashboardSection p {
        font-size: 12px;
        padding-bottom: 20px;
    }

    .dashboardContainer {
        margin-bottom: 40px;
        padding: 0 10px;
        flex-direction: column;
        align-items: stretch;
    }
}

