.container {
    padding: 2rem;
    padding-top: 0;
    margin: 0 auto;
    color: black;
}

.sezioni {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 1375px;
}

.mSection {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1369.2px;
    padding: 30px;
    padding-top: 0;
    color: black;
}

.mdescription {
    font-family: 'Quicksand';
    font-size: 1rem;
    line-height: 1.6;
    height: 96px;
    width: 844px;
}

.bSection {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1155px;
    width: 750px;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.bDescription {
    font-family: 'Quicksand';
    width: 476px;
}

.bimageWrapper {
    margin-top: 16px;
    object-fit: cover;
    overflow: hidden;
    padding-top: 10px;
}

.cSection {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-self: center;
    position: relative;
    width: 698px;
    max-width: 100%;
    height: 1155px;
    overflow: hidden;
    align-items: center;
}

.cDescription {
    font-family: 'Quicksand';
    text-align: center;
    height: 312px;
    width: 510px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.cImageWrapper {
    font-family: 'Quicksand';
    margin-top: 1rem;
    object-fit: cover;
    overflow: hidden;
}

.h2, .tl {
    margin-bottom: 8px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
}

.tl {
    padding-top: 20px;
}

@media (max-width: 768px) {
    .sezioni {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .mSection {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .mtext{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mdescription {
        height: 100px;
        width: 90%;
        font-size: 0.9rem;
    }

    .bSection {
        width: 100%;
        padding-left: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bDescription {
        width: 90%;
    }

    .bimageWrapper{
        width: 426px;
        height: 640px;
    }

    .cSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .cDescription {
        width: 90%;
        font-size: 0.9rem;
        height: 210px;
    }

    .ctext{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h2, .tl {
        font-size: 24px;
    }

    .btext{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .mSection, .bSection, .cSection {
        width: 100%;
        padding: 10px;
    }

    .mdescription, .bDescription, .cDescription {
        width: 100%;
        font-size: 12px;
        line-height: 1.4;
    }

    .bimageWrapper{
        width: 363px;
        height: 545px;
    }

    .cDescription{
        height: 250px;;
    }

    .cImageWrapper{
        width: 363px;
        height: 545;
    }

    .h2, .tl {
        font-size: 20px;
    }

    .sezioni {
        gap: 10px;
        padding: 5px;
    }

    .cSection{
        display: flex;
        flex-direction: column ;
    }
}
