.informationContainer {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 80px;
    text-align: center;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    background: url('/macarons.jpg') no-repeat fixed center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0.5) brightness(0.9);
    z-index: -1;
}

.informationTitle {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    position: relative;
    z-index: 1;
}

.informationContainer p {
    position: relative;
    z-index: 1;
}
