.informationContainer {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 80px;
    text-align: center;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informationContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/macarons.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(3px); /* Imposta l'intensità della sfocatura */
    z-index: 0;
}

.informationTitle, .info, .description p {
    position: relative;
    z-index: 1; /* Porta il testo in primo piano sopra lo sfondo sfocato */
}

.informationTitle {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Raleway';
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

@media (max-width: 480px) {
    .informationContainer::before {
        background-attachment: scroll;
    }
}
