.imageContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: -200px;


}


.productContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 80px;

}


.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.titleProduct {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.price {
    color: black;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}

.description {
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

.quantityWrapper {
    display: flex;
    align-items: center;
}

.input {
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #d5abc2;
    outline: none;
    padding: 10px;
    background-color: #f8f8f8;
    color: black;
}

.stylebutton {
    display: flex;
    gap: 10px;
    padding-top: 17px;
    padding-left: 5px;
}

.quantityButton {
    background-color: white;
    border: none;
    cursor: pointer;
}

.plus {
    width: 20px;
    height: 20px;
}

.minus {
    width: 20px;
    height: 20px;
}

.ingredients {
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

.category {
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}


.quantity {
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;

}

.quantity input {
    display: inline-block;
    margin: 10px 0;
    background-color: rgb(213 171 194);
    color: white;
    font-size: 16px;
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToCartButton {
    display: inline-block;
    margin: 10px 0;
    background-color: rgb(213 171 194);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToCartButton:hover {
    background-color: #c7c1dc;
}

.loading {
    font-size: 1.5rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
}

.error {
    color: red;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
}

.orderStatus {
    margin-top: 10px;
    font-weight: 400;
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}